.main {
  border: 1px red solid;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.header-text {
  font-size: 2rem;
  text-align: center;
}

.hangman {
  position: relative;
}

.hangman-hanger {
  height: 50px;
  width: 10px;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
}

.hangman-wall {
  height: 300px;
  width: 10px;
  background-color: black;
  margin-left: 120px;
}

.hangman-ceiling {
  height: 10px;
  width: 200px;
  background-color: black;
  margin-left: 120px;
}

.hangman-floor {
  height: 10px;
  width: 250px;
  background-color: black;
}

.hangman-head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

.hangman-body {
  width: 10px;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 120px;
  right: 0px;
}

.hangman-body {
  width: 10px;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 120px;
  right: 0px;
}

.hangman-right-arm {
  width: 100px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.hangman-left-arm {
  width: 100px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.hangman-right-leg {
  width: 100px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.hangman-left-leg {
  width: 100px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 210px;
  right: 0px;
  rotate: -60deg;
  transform-origin: right bottom;
}

.hangman-word {
  display: flex;
  gap: 0.25em;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}
